body {
    font-size: 13.93px;
    font-family: QuattrocentoSans, sans-serif;
}

.wrapper {
    max-width: 1920px;
    min-width: 1280px;
    margin: auto;
}

header .logo {
    height: 138px;
    box-shadow: 0px 4px 15px -10px #595959;
}

header img {
    display: block;
    margin: 0 auto;
    padding-top: 69px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.inner-header {
    height: 80px;
}

.inner-header .social {
    float: left;
    width: 25%;
}

.inner-header nav {
    float: left;
    text-transform: uppercase
}

.inner-header .search {
    float: right;
    width: 25%;
}

.inner-header .social li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    width: 19px;
    height: 15px;
    background-image: url(img/sprite.png);
    vertical-align: top;
    margin-left: 14px;
}

.inner-header .social {
    font-size: 14px;
}

.inner-header .social li {
    font-size: 0px;
    width: 19px;
    height: 15px;
    background-image: url(img/sprite.png);
    vertical-align: top;
    margin-left: 4px;
    position: relative
}

.inner-header .social a {
    font-size: 10px;
    width: 20px;
    height: 15px;
    position: absolute;
    color: transparent;
}

.inner-header .social li:first-child {
    background-position: 1px 1px;
    margin-left: 14.4%;
}

.inner-header .social li:nth-child(2) {
    background-position: -25px 0px;
    height: 17px;
}

.inner-header .social li:nth-child(3) {
    background-position: -50px 1px;
}

.inner-header .social li:nth-child(4) {
    background-position: -80px 1px;
    height: 18px;
}

.inner-header nav {
    width: 50%;
    text-align: center;
}

.inner-header nav li:not(:first-child) {
    margin-left: 30px;
}

.inner-header nav li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

ul {
    padding: 0;
}

form {
    position: relative;
}

.search input {
    border: none;
    margin-top: 30px;
    float: right;
    border-right: 1px solid black;
    margin-right: 21.6%;
    position: relative;
    outline: none;
}

.search input::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 16px;
    background-image: url(img/sprite.png);
}

.search button {
    position: absolute;
    top: 30px;
    right: 15.6%;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-image: url(img/sprite.png);
    background-position: -99px;
    cursor: pointer;
    outline: none
}

.intro img {
    width: 100%;
}

.intro {
    position: relative
}

.intro a {
    display: block;
    padding: 8px 12px;
    position: absolute;
    top: 462px;
    left: 50%;
    margin-left: -39px;
    color: #ffffff;
    background-color: #ff0000;
    text-transform: uppercase
}

.content {
    width: 66.1%;
    min-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.left-column {
    float: left;
    width: 400px;
}

.central-column {
    float: left;
    width: 400px;
    margin-left: 30px;
}

.right-column {
    float: right;
    width: 322px;
}

.item-content {
    margin-top: 90px;
}

span.theme {
    display: block;
    color: #898989;
    font-size: 12.02px;
    width: 60px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "QuattrocentoSans", sans-serif;
    font-style: italic;
    border-bottom: 2px solid #aeaeae;
    line-height: 21px;
    margin-top: 25px;
}

h2 {
    font-family: "QuattrocentoSans", serif;
    text-align: center;
    font-size: 24.06px;
    font-weight: 700;
    color: #101010;
    line-height: 35.081px;
}

p {
    text-align: center;
    line-height: 25.986px;
    color: #898989;
    font-size: 13.99px;
    font-family: QuattrocentoSans, sans-serif
}

span.date {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

span.month {
    color: #101010;
    font-size: 13px;
    font-weight: 400;
    font-family: "QuattrocentoSans";
}

span.year {
    color: #898989;
    font-size: 13px;
    line-height: 48px
}

.about-me {
    margin-top: 90px;
}

.about-me span:first-of-type {
    margin-top: 25px;
    display: block;
    color: #898989;
    font-size: 13.01px;
    line-height: 15px;
    width: 81px;
    border-bottom: 2px solid #898989
}

.about-me h1 {
    font-family: "Rufina", serif;
    font-size: 36px;
    color: #242424;
    margin-top: 15px;
}

.about-me p {
    font-size: 12.5px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 40px;
}

.about-me span:last-of-type {
    font-size: 11.98px;
    color: #898989;
}

.about-me ul {
    list-style: none;
    margin-top: -16px;
    margin-left: 35px;
}

.about-me li {
    display: inline-block;
    margin-left: 3px;
    background-image: url(img/sprite.png);
    vertical-align: top;
    width: 20px;
    height: 16px;
    position: relative;
    background-position: -50px 0px;
}

.about-me li:nth-child(1) {
    margin-left: 13px;
}

.about-me li:nth-child(2) {
    background-position: -77px 0px;
}

.about-me li:nth-child(3) {
    background-position: -26px 0px;
}

.about-me li a {
    position: absolute;
    color: transparent;
    width: 20px;
    height: 20px;
}

.subscribe {
    width: 320px;
    height: 180px;
    background-color: #f5f5f5;
    margin-top: 55px;
}

.subscribe form {
    padding-top: 61px;
    padding-left: 17px;
}

.subscribe label {
    font-family: Rufina;
    font-size: 18.07px;
    font-weight: 700;
}

.subscribe input {
    width: 167px;
    height: 34px;
    background-color: transparent;
    border: 1px solid rgba(137, 137, 137, 0.2);
    margin-top: 15px;
    padding-left: 20px;
    font-size: 12.03px;
    font-style: italic;
    position: relative
}

.subscribe button {
    position: absolute;
    width: 93px;
    height: 38px;
    border: 1px solid #111111;
    margin-left: 0px;
    margin-top: 15px;
    background-color: #111111;
    color: white;
    text-transform: uppercase;
    font-size: 12.03px;
    cursor: pointer
}

.latest-posts h2 {
    text-align: left;
    font-size: 23.73px;
    line-height: 48px;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 50px;
}

.item-post span:not(:last-child) {
    font-style: italic;
    color: #898989;
    font-size: 12.02px;
    border-bottom: 1px solid #aeaeae;
    line-height: 4px;
}

.latest-posts p {
    font-family: "Rufina";
    text-align: left;
    color: #101010;
    font-weight: 700;
    font-size: 16.02px;
    margin-top: 10px;
}

.latest-posts .date {
    display: inline-block;
    margin-top: -18px;
}

.instagram {
    font-size: 0;
}

.instagram .photos{
    margin-top: 32px;
}
.instagram h2 {
    text-align: left;
    font-size: 23.73px;
    line-height: 48px;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 50px;
}

.instagram img {
    padding: 0;
    margin: 0;
    display: inline-block;
}